<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,152},{4,4}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,211},{4,4}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1096},{50,48}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,190},{50,48}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1320},{98,98}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,165},{98,98}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1290},{148,148}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,139},{148,148}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1092},{196,196}}</string>
                <key>offset</key>
                <string>{15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,116},{196,196}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,422},{246,246}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,90},{246,246}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{250,250}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,88},{250,250}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{242,242}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,92},{242,242}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,544},{234,234}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,96},{234,234}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,670},{226,226}}</string>
                <key>offset</key>
                <string>{15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,101},{226,226}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{218,218}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,105},{218,218}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,862},{210,210}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,109},{210,210}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,888},{202,204}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,112},{202,204}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,898},{196,196}}</string>
                <key>offset</key>
                <string>{15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,116},{196,196}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{188,188}}</string>
                <key>offset</key>
                <string>{15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,120},{188,188}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1186},{172,172}}</string>
                <key>offset</key>
                <string>{12,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,128},{172,172}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1176},{156,126}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,149},{156,126}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1234},{166,84}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,171},{166,84}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1096},{174,88}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,169},{174,88}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,298},{184,92}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,167},{184,92}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,484},{194,96}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,165},{194,96}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1074},{202,100}}</string>
                <key>offset</key>
                <string>{15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,164},{202,100}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,780},{212,106}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,160},{212,106}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,680},{222,110}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,158},{222,110}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{232,114}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,156},{232,114}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,424},{240,118}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,154},{240,118}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,298},{250,122}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,152},{250,122}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,296},{258,126}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,150},{258,126}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,236},{268,130}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,148},{268,130}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,160},{276,134}}</string>
                <key>offset</key>
                <string>{15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,147},{276,134}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{286,140}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,143},{286,140}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,152},{292,144}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,141},{292,144}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{300,148}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,139},{300,148}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,152}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,137},{302,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{296,156}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,135},{296,156}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1072},{162,160}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,133},{162,160}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,904},{166,164}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,131},{166,164}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{172,170}}</string>
                <key>offset</key>
                <string>{15,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,127},{172,170}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,686},{176,174}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,126},{176,174}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>bomb_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,506},{180,178}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,124},{180,178}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ed9841cd2710ab7a8395f3cfcc7de50:e5002787abf81a896d172cd35a9328fb:4be35b031ff921caacbd927ebc46fc95$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
