<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>challenge_bg_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{448,104}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{448,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>challenge_bg_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{448,104}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{448,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>challenge_button_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,104}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>challenge_label_local_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{194,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,40}}</string>
                <key>sourceSize</key>
                <string>{194,40}</string>
            </dict>
            <key>challenge_lock_mark_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{37,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>challenge_new_mark_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,650},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>challenge_red_score_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,476},{123,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,27}}</string>
                <key>sourceSize</key>
                <string>{123,27}</string>
            </dict>
            <key>challenge_red_score_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,447},{123,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,27}}</string>
                <key>sourceSize</key>
                <string>{123,27}</string>
            </dict>
            <key>challenge_robot_face_-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,733},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{81,81}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>challenge_robot_face_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,646},{85,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{85,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>challenge_robot_face_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,646},{81,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>challenge_robot_face_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{109,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,100}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>challenge_robot_face_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,609},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>challenge_robot_face_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,505},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>challenge_robot_face_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,320},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>challenge_robot_head_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,713},{91,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>challenge_robot_head_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,729},{91,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>challenge_scene_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{337,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,67}}</string>
                <key>sourceSize</key>
                <string>{337,67}</string>
            </dict>
            <key>challenge_score_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,418},{123,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,27}}</string>
                <key>sourceSize</key>
                <string>{123,27}</string>
            </dict>
            <key>challenge_score_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,389},{123,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,27}}</string>
                <key>sourceSize</key>
                <string>{123,27}</string>
            </dict>
            <key>challenge_title_0_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,560},{189,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{189,41}}</string>
                <key>sourceSize</key>
                <string>{193,43}</string>
            </dict>
            <key>challenge_title_0_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,517},{189,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{189,41}}</string>
                <key>sourceSize</key>
                <string>{193,43}</string>
            </dict>
            <key>challenge_title_1_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{191,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,43}}</string>
                <key>sourceSize</key>
                <string>{193,43}</string>
            </dict>
            <key>challenge_title_1_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{191,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,43}}</string>
                <key>sourceSize</key>
                <string>{193,43}</string>
            </dict>
            <key>challenge_title_2_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,603},{187,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{187,41}}</string>
                <key>sourceSize</key>
                <string>{193,43}</string>
            </dict>
            <key>challenge_title_2_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,431},{187,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{187,41}}</string>
                <key>sourceSize</key>
                <string>{193,43}</string>
            </dict>
            <key>challenge_title_3_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{191,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,41}}</string>
                <key>sourceSize</key>
                <string>{193,43}</string>
            </dict>
            <key>challenge_title_3_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{191,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,41}}</string>
                <key>sourceSize</key>
                <string>{193,43}</string>
            </dict>
            <key>challenge_title_4_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{189,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{189,41}}</string>
                <key>sourceSize</key>
                <string>{193,43}</string>
            </dict>
            <key>challenge_title_4_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,474},{189,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{189,41}}</string>
                <key>sourceSize</key>
                <string>{193,43}</string>
            </dict>
            <key>challenge_title_5_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,236},{193,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,43}}</string>
                <key>sourceSize</key>
                <string>{193,43}</string>
            </dict>
            <key>challenge_title_5_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,41},{193,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,43}}</string>
                <key>sourceSize</key>
                <string>{193,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChallengeQuestLayer.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4406644ddb563e7e00dced375ffa3ee:352af48b22ca78b88ae13daca60f55b2:b7efa2a78635eca688e489067b9bac2d$</string>
            <key>textureFileName</key>
            <string>ChallengeQuestLayer.png</string>
        </dict>
    </dict>
</plist>
