<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameshare_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1024}}</string>
                <key>sourceSize</key>
                <string>{640,1024}</string>
            </dict>
            <key>gameshare_button_showoff_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,177},{154,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,57}}</string>
                <key>sourceSize</key>
                <string>{158,59}</string>
            </dict>
            <key>gameshare_button_showoff_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,118},{154,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,57}}</string>
                <key>sourceSize</key>
                <string>{158,59}</string>
            </dict>
            <key>gameshare_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{303,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{303,74}}</string>
                <key>sourceSize</key>
                <string>{303,78}</string>
            </dict>
            <key>gameshare_sharetoolbar_nav_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,2},{640,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,66}}</string>
                <key>sourceSize</key>
                <string>{640,66}</string>
            </dict>
            <key>gameshare_sharetoqq_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,392},{76,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,77}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>gameshare_sharetoqq_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,350},{76,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,77}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>gameshare_sharetoqzone_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,316},{76,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,77}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>gameshare_sharetoqzone_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,314},{76,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,77}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>gameshare_sharetowxfriendcircle_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,272},{76,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,77}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>gameshare_sharetowxfriendcircle_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,236},{76,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,77}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>gameshare_sharetowxonefriend_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,194},{76,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,77}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>gameshare_sharetowxonefriend_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,116},{76,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,77}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>gameshare_sunshine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{618,612}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{618,612}}</string>
                <key>sourceSize</key>
                <string>{652,652}</string>
            </dict>
            <key>gameshare_text_current_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,78},{160,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,38}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>gameshare_text_grade.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,236},{63,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>gameshare_text_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,214},{63,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,51}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>gameshare_text_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,428},{59,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{59,21}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>gameshare_text_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,422},{63,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,41}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>gameshare_text_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,332},{63,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>gameshare_text_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,394},{61,43}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{61,43}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>gameshare_text_level_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,167},{61,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{61,45}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>gameshare_text_level_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,285},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>gameshare_text_level_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,267},{63,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>gameshare_text_level_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,379},{63,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,41}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>gameshare_text_level_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,116},{61,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{61,49}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>gameshare_text_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,439},{40,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>gameshare_text_total_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,78},{123,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,36}}</string>
                <key>sourceSize</key>
                <string>{125,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameShareLayer.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b914d286558853fac7818ffa1683fe2b$</string>
            <key>textureFileName</key>
            <string>GameShareLayer.png</string>
        </dict>
    </dict>
</plist>
