<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HelpAndSupport_About.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,555},{162,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,59}}</string>
                <key>sourceSize</key>
                <string>{164,59}</string>
            </dict>
            <key>HelpAndSupport_About_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,721},{164,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,59}}</string>
                <key>sourceSize</key>
                <string>{164,59}</string>
            </dict>
            <key>HelpAndSupport_HelpBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,555},{164,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,59}}</string>
                <key>sourceSize</key>
                <string>{164,59}</string>
            </dict>
            <key>HelpAndSupport_HelpBtn_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,721},{164,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,59}}</string>
                <key>sourceSize</key>
                <string>{164,59}</string>
            </dict>
            <key>HelpAndSupport_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,383},{490,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,9}}</string>
                <key>sourceSize</key>
                <string>{490,9}</string>
            </dict>
            <key>HelpAndSupport_OtherBound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,551}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,551}}</string>
                <key>sourceSize</key>
                <string>{492,559}</string>
            </dict>
            <key>HelpAndSupport_Send.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,719},{162,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,58}}</string>
                <key>sourceSize</key>
                <string>{162,60}</string>
            </dict>
            <key>HelpAndSupport_SendCheck.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,887},{162,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,60}}</string>
                <key>sourceSize</key>
                <string>{162,60}</string>
            </dict>
            <key>HelpAndSupport_Support.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,555},{164,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,59}}</string>
                <key>sourceSize</key>
                <string>{164,59}</string>
            </dict>
            <key>HelpAndSupport_SupportBound.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{493,379}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{493,379}}</string>
                <key>sourceSize</key>
                <string>{493,381}</string>
            </dict>
            <key>HelpAndSupport_Support_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,555},{164,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,59}}</string>
                <key>sourceSize</key>
                <string>{164,59}</string>
            </dict>
            <key>HelpAndSupport_button_back_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,949},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>HelpAndSupport_button_back_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,873},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>MinDialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{319,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,168}}</string>
                <key>sourceSize</key>
                <string>{319,168}</string>
            </dict>
            <key>faild.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{120,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,99}}</string>
                <key>sourceSize</key>
                <string>{124,99}</string>
            </dict>
            <key>pleaseInput.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,721},{150,97}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{150,97}}</string>
                <key>sourceSize</key>
                <string>{154,99}</string>
            </dict>
            <key>succeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,876},{118,99}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,99}}</string>
                <key>sourceSize</key>
                <string>{124,99}</string>
            </dict>
            <key>tencent_protocol_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,200},{196,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{196,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>tencent_protocol_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{196,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{196,28}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HelpAndSupport.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:177c4c04e69814b5b8acafcb3cea6e6a:2baf730f2c24135e0c5a5ef3c22281b0:be00782d632275b8ffbd2565103ca21e$</string>
            <key>textureFileName</key>
            <string>HelpAndSupport.png</string>
        </dict>
    </dict>
</plist>
