<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>local_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{63,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{63,132}}</string>
                <key>sourceSize</key>
                <string>{67,138}</string>
            </dict>
            <key>local_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{67,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,136}}</string>
                <key>sourceSize</key>
                <string>{67,138}</string>
            </dict>
            <key>qq_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{286,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{286,96}}</string>
                <key>sourceSize</key>
                <string>{288,98}</string>
            </dict>
            <key>qq_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{286,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{286,96}}</string>
                <key>sourceSize</key>
                <string>{288,98}</string>
            </dict>
            <key>wei_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,71},{286,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,96}}</string>
                <key>sourceSize</key>
                <string>{288,98}</string>
            </dict>
            <key>wei_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,96}}</string>
                <key>sourceSize</key>
                <string>{288,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login_choose2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3e98241f4f425acc40c76632b8539cc:f0bd52661995510411a6e88daec60810:f345ae7cff4c537f76aeea7ab5099e8a$</string>
            <key>textureFileName</key>
            <string>login_choose2.png</string>
        </dict>
    </dict>
</plist>
