<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutorials_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,138},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>tutorials_button_ok_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{170,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,66}}</string>
                <key>sourceSize</key>
                <string>{170,66}</string>
            </dict>
            <key>tutorials_button_ok_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,66}}</string>
                <key>sourceSize</key>
                <string>{170,66}</string>
            </dict>
            <key>tutorials_hint_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{278,120}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,120}}</string>
                <key>sourceSize</key>
                <string>{280,122}</string>
            </dict>
            <key>tutorials_on_touch_ended.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,114},{72,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{72,104}}</string>
                <key>sourceSize</key>
                <string>{72,110}</string>
            </dict>
            <key>tutorials_on_touch_moved.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{72,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,110}}</string>
                <key>sourceSize</key>
                <string>{72,110}</string>
            </dict>
            <key>tutorials_text_loosen.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,138},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>tutorials_text_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,138},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>tutorials_text_slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tutorials.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc1518f74686728597119bf35ede6691$</string>
            <key>textureFileName</key>
            <string>Tutorials.png</string>
        </dict>
    </dict>
</plist>
