<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>verify_bg_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,196},{186,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,78}}</string>
                <key>sourceSize</key>
                <string>{186,78}</string>
            </dict>
            <key>verify_bg_textfield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{326,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{326,74}}</string>
                <key>sourceSize</key>
                <string>{326,80}</string>
            </dict>
            <key>verify_button_ok_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{231,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{231,82}}</string>
                <key>sourceSize</key>
                <string>{233,84}</string>
            </dict>
            <key>verify_button_ok_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{231,82}}</string>
                <key>sourceSize</key>
                <string>{233,84}</string>
            </dict>
            <key>verify_text_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,170},{168,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,24}}</string>
                <key>sourceSize</key>
                <string>{168,24}</string>
            </dict>
            <key>verify_text_incorrect.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,196},{215,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,23}}</string>
                <key>sourceSize</key>
                <string>{215,23}</string>
            </dict>
            <key>verify_text_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,196},{282,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,35}}</string>
                <key>sourceSize</key>
                <string>{282,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VerifyCodeLayer.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36c9b39d799558309cdfd125da9c640d$</string>
            <key>textureFileName</key>
            <string>VerifyCodeLayer.png</string>
        </dict>
    </dict>
</plist>
